.form {
  width: min(90%, 32rem);
  .form-group {
    position: relative;
    .form-control {
      &::placeholder {
        color: #f5f5f5;
      }
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button{
        appearance: none;
        display: none;
      }

      &:not(:placeholder-shown),
      &:focus {
        & + .form-label {
          font-size: 1.2rem;
          top: -0.8rem;
          left: 0.8rem;
          padding: 0 0.25em;
          background-color: #f5f5f5;
        }
      }
    }
    .form-label {
      position: absolute;
      font-size: 1.8rem;
      top: 0.8rem;
      left: 0.8rem;
      transition: all 300ms ease;
    }
  }
}
